.editLayout {
  display: flex;
  flex-direction: column;
  .button {

  }
}

@media (max-width: 1020px) {
  .editLayout {
    display: flex;
    flex-direction: column;
    .button {
      margin: 0 auto;
    }
  }

}