.homePage {
  .toolBar {
    display: flex;
    flex-direction: row;

    .filter {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        margin-right: 8px;
      }

      .select {
        width: 130px;
      }

      .checkbox {
        margin-left: 12px;
      }
    }

    .sort {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        margin-right: 8px;
      }

      .select {
        display: flex;
        flex-direction: row;
        width: 180px;
      }
    }

    .addButton {
      margin-left: auto;
    }
  }

  @media (max-width: 1020px) {
    .toolBar {
      flex-direction: column;

      .filter {
        flex-direction: column;
        align-items: start;

        .select {
          width: 100%;
        }
      }

      .sort {
        flex-direction: column;
        align-items: start;

        .select {
          width: 100%;
        }

      }

      .addButton {
        margin-left: 0;
        width: 100%;
        margin-top: 16px;
      }
    }

  }

  .listLayout {
    overflow: auto;
    margin-top: 12px;
    height: calc(100vh - 80px);
    .list {
      .item {
        &:hover {
          cursor: pointer;
          background-color: #e7e7e7;
        }
      }
    }
  }
  @media (max-width: 1020px) {
    .listLayout {
      height: calc(100vh - 280px);

    }
  }
}