.homePage {


  .listLayout {
    overflow: auto;
    margin-top: 12px;
    height: calc(100vh - 80px);
    .list {
      .item {
        &:hover {
          cursor: pointer;
          background-color: #e7e7e7;
        }
      }
    }
  }
  @media (max-width: 1020px) {
    .listLayout {
      height: calc(100vh - 280px);

    }
  }
}